<center>
  <div id="formContent" style="margin-top:-10px;">
    <center>
    <div style="width:250px;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <b><%= f.label :email %></b><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <b><%= f.label :password %></b><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <%# if @minimum_password_length %>
      <%# <br /> %>
      <%# <em>= @minimum_password_length</em> %>
    <%# end %>
  </div>

  <div class="field">
    <b><%= f.label :password_confirmation %></b><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field">
    <b><%= f.label :current_password %></b><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<div style="margin-top:-35px;">
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style:"width:210px;text-align:center;"%>
</div>
    </div>
  </center>
  </div>
</center>










