<center>
  <div id="formContent">
    <%# <div style="width:250px;"> %>
      <h2>Profile</h2>  
      <br>
    <table>
      <tr>
      <th>Name<th>
      <td><%= current_user.first_name %> <%= current_user.last_name %></td>      
      </tr>
      <tr>
      <th>Email<th>
      <td><%= current_user.email %></td>
      </tr>
      <tr>
      <th>DOB<th>
      <td><%= current_user.dateofbirth %></td>      
      </tr>
      <tr>
      <th>Mobile<th>
      <td><%= current_user.mobile %></td>
      </tr>
      <tr>
      <th>City<th>
      <td><%= current_user.city %></td>
      </tr>
      <tr>
      <th>Country<th>
      <td><%= current_user.country %></td>
      </tr>
      <tr>
      <th>Zipcode<th>
      <td><%= current_user.zipcode %></td>
      </tr>
      <tr>
      <th>Address<th>
      <td><%= current_user.address %></td>
    </table>
    <br>
    <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-success" %>
    <br>
    <br>
    <br>
</center>